/* Colors & Styles (Default) */
:root {
  --PrimaryColor: hsl(94, 59%, 35%);
  --HoverColor: #bdf094;
  --paleGreen: hsl(96, 75%, 89%);
  --littleGreen: hsl(95, 55%, 94%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --textColor: hsl(240, 1%, 48%);
  --bgColor: hsl(220, 10%, 94%);
  --greyText: rgb(190, 190, 190);
  --inputColor: hsl(330, 12%, 97%);
  --littleRed: hsl(0, 100%, 93%);
  --littleYellow: hsl(66, 100%, 91%);
  /* Font & Typography */
  --biggestFontSize: 2.5em;
  --h1FontSize: 1.5em;
  --h2FontSize: 1.25em;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smalledFontSize: 0.75rem;
}

.tabMainContainer .form-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}
.tabMainContainer .form-container .input {
  flex: 1 1 calc(50% - 10px);
  padding: 10px;
  margin: 5px 0;
  border: 1px solid var(--greyText);
  border-radius: 4px;
  font-size: var(--normalFontSize);
  background-color: var(--inputColor);
  color: var(--textColor);
}
.tabMainContainer .form-container .input:hover {
  border-color: var(--paleGreen);
}
.tabMainContainer .form-container .input:focus {
  border-color: var(--PrimaryColor);
  outline: none;
  box-shadow: 0 0 5px var(--PrimaryColor);
}
.tabMainContainer .form-container select {
  cursor: pointer;
}
.tabMainContainer .btn-truck-operations-main {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.tabMainContainer .btn-truck-operations-main .btn-truck-operations {
  text-decoration: none;
  outline: none;
  padding: 15px;
  cursor: pointer;
  border-radius: 6px;
  background: var(--paleGreen);
  border: 2px solid var(--PrimaryColor);
  color: #000;
  font-weight: 600;
  transition-duration: 300ms;
}
.tabMainContainer .btn-truck-operations-main .btn-truck-operations:hover {
  transform: translateY(-4px);
  background: var(--PrimaryColor);
  color: #fff;
}
.tabMainContainer .table-container {
  margin-top: 2rem;
  overflow-x: auto;
}
.tabMainContainer .table-container table {
  width: 100%;
  border-collapse: collapse;
}
.tabMainContainer .table-container table th,
.tabMainContainer .table-container table td {
  border: 1px solid var(--greyText);
  padding: 10px;
  text-align: center;
  font-size: var(--normalFontSize);
}
.tabMainContainer .table-container table th {
  background-color: var(--paleGreen);
}
.tabMainContainer .table-container table td {
  font-size: 13px;
  font-weight: 500;
}
.tabMainContainer .table-container table td select {
  padding: 5px;
  border-radius: 4px;
  border: none;
  background-color: initial;
  font-size: var(--normalFontSize);
  color: var(--blackColor);
  cursor: pointer;
}
.tabMainContainer .table-container table td select:hover {
  border-color: var(--paleGreen);
  border: 1px solid var(--greyText);
  background-color: var(--inputColor);
}
.tabMainContainer .table-container table .deleteIconTable {
  width: 22px;
  height: 22px;
  cursor: pointer;
  transition-duration: 300ms;
}
.tabMainContainer .table-container table .deleteIconTable:hover {
  color: #ee0707;
  transform: scale(1.1);
}
.tabMainContainer .table-container table .resolveIconTable {
  width: 22px;
  height: 22px;
  cursor: pointer;
  transition-duration: 300ms;
}
.tabMainContainer .table-container table .resolveIconTable:hover {
  color: #28b904;
  transform: scale(1.1);
}
.tabMainContainer .table-container #tableTab1TruckOperations tr.deleted {
  background-color: var(--littleRed);
}
.tabMainContainer .table-container #tableTab1TruckOperations tr:not(.deleted) {
  background-color: initial;
}
.tabMainContainer .table-container #tableTab1TruckOperations tr.na-selected {
  background-color: var(--littleYellow);
}
.tabMainContainer .table-container #tableTab1TruckOperations tr:not(.na-selected) {
  background-color: initial;
}

@media screen and (max-width: 1250px) {
  .form-container .input {
    flex: 1 1 calc(50% - 10px);
  }
}
@media screen and (max-width: 600px) {
  .form-container .input {
    flex: 1 1 100%;
  }
  .btn-truck-operations-main {
    flex-direction: column;
  }
}
@media screen and (max-width: 385px) {
  .form-container .input {
    width: 50%;
  }
}/*# sourceMappingURL=tab1TruckOperations.css.map */